@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
header{
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
ul{
    flex-wrap: wrap;
    
}
header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;

}
header ul li{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
header ul li a{
    width: 100px;
    text-decoration: none;
    color: white;
    font-family: 'Tourney', cursive;
}
.buscador{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form input{
    font-size: 16px;
    padding: 5px;
    background-color: black;
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
}
form button{
    background-color: black;
    color: white;
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
    font-family: 'Tourney', cursive;
    font-size: 16px;
    padding: 5px;
}
#logo{
    margin-top: 2vh;
    margin-bottom: 0;
    font-family: 'Tourney', cursive;
    font-size: 50px;
    font-weight: 800;
}
#logo a{
    color: white;
}
.container{
    background-color: indianred;
    margin: 10%;
    padding: 10px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);;
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
}

.button-title{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
margin-bottom: 3rem;
    padding: 1vh;
}
.button-title button{
    background-color: black;
}
.button-title button a{
    margin: 3rem;
    padding: 10px 10px;
    font-size: 2rem;
    font-family: 'Tourney', cursive;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
}
#caja img{
    margin: auto;
    display: block;
    max-width: 90%;
    border: 4px solid black;
}
.card-title{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    color: white;
    font-family: 'Tourney', cursive;
}
.card-h5{
    padding: 1vh;
    color: white;
    font-family: 'Tourney', cursive;
    font-size: 2rem;
}
p{
    padding: 2vh;
}
.price{
    margin: 1rem;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 18px;
    font-family: 'Tourney', cursive;
    background-color: black;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
}
.container-contact{
    display: block;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Tourney', cursive;
}
.img-contact{
    width: 90%;
    height: auto;
    border-radius: 50px;
    border: 4px solid white;
    margin: 1rem;
}
.title-h3{
    margin: 1rem;
    font-size: 2rem;
    border-bottom: 2px solid white;
}
.phone-span{
    display: block;
    padding: 10px;
    font-family: 'Tourney', cursive;
    font-size: 22px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
    
}
.phone{
    font-size: 20px;
}
.email-span{
    display: block;
    padding: 10px;
    font-family: 'Tourney', cursive;
    font-size: 22px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
}
.dir-span{
    display: block;
    padding: 10px;
    font-family: 'Tourney', cursive;
    font-size: 22px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -5px 20px #ff8000, 0 -10px 40px #F00;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
}
