@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
header ul li{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
header ul li a{
    text-decoration: none;
}
.buscador{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
}
#logo{
    margin-top: 2vh;
    margin-bottom: 0;
    font-family: 'Tourney', cursive;
    font-size: 50px;
    font-weight: 800;
}

